section{
    background: blueviolet;
    height: 400px;
    width: 300px;
    margin: 20px auto;
    border: solid 3px red;
}

.center{
    text-align: center;
    font-size: 24px;
    font-family: italic;
}

select{
    width: 300px;
    height: 50px;
    background: yellowgreen;
    border: solid 1px blue;
}

option{
    border: solid 1px blue;
}

.temp{
    padding: 15px;
   
}

.description{
    font-size: 26px;
}

.wind{
    margin-top: 15px;
}

.speed{
    margin-top: 15px;
}
.pressure{
    margin-top: 15px;
}





